---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="Tariffe | Casa Vacanze La Vecchia Fonte" description="Tariffe Casa Vacanze La Vecchia Fonte" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
			table {
				border: 1px solid;
			}
			table td {
				border: 1px solid;
			}
		</style>
	</head>
	<body>
		<Nav />
		<Header img="assets/home.jpg" title="Tariffe" />
		<div class="wrapper">
			<div class="bio wrapper">
				<p><strong>Per prenotazioni effettuate su Booking.com a Aprile, Maggio e Settembre</strong></p>
				<figure class="wp-block-table">
					<table>
						<tbody>
							<tr>
								<td><strong>n. persone</strong></td>
								<td><strong>Costo al giorno per un minimo di 4 gg</strong></td>
							</tr>
							<tr>
								<td><strong>2</strong></td>
								<td><strong>90 euro</strong></td>
							</tr>
							<tr>
								<td><strong>3 o 4</strong></td>
								<td><strong>110 euro</strong></td>
							</tr>
						</tbody>
					</table>
				</figure>

				<p><strong>Per prenotazioni effettuate su Booking.com a Giugno, Luglio e Agosto</strong></p>
				<figure class="wp-block-table">
					<table>
						<tbody>
							<tr>
								<td><strong>n. persone</strong></td>
								<td><strong>Costo al giorno per un minimo di 4 gg</strong></td>
							</tr>
							<tr>
								<td><strong>2</strong></td>
								<td><strong>100 euro</strong></td>
							</tr>
							<tr>
								<td><strong>3 o 4</strong></td>
								<td><strong>120 euro</strong></td>
							</tr>
						</tbody>
					</table>
				</figure>
			</div>
		</div>

		<div class="wrapper">
			Per le prenotazioni effettuate in modo diretto cՏ uno sconto del 10% sulla cifra totale. Per queste cՏ da far firmare un <a href="/assets/contratto.pdf">contratto standard</a> su cui apporre una marca da bollo da 2 euro a carico del cliente.
			<br /><br />
		</div>

		<Footer />
	</body>
</html>
