---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import type { Service } from '../types';

interface Props {
	content: Service;
}

const { content } = Astro.props;
const rootFolder = import.meta.env.BASE_URL;
---

<html lang="en">
	<head>
		<MainHead title={content.title} description={content.description} />
		<style>
			.hero {
				padding: 8rem;
				display: flex;
				background-color: var(--t-fg);
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: white;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.tag {
				margin-left: 0.5em;
				margin-right: 0.5em;
				text-transform: uppercase;
			}

			.tag:nth-of-type(1n) {
				color: var(--c-green);
			}
			.tag:nth-of-type(2n) {
				color: var(--c-orange);
			}
			.tag:nth-of-type(3n) {
				color: var(--c-blue);
			}
			.tag:nth-of-type(4n) {
				color: var(--c-pink);
			}

			.title {
				font-size: var(--f-u10);
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
			}

			.leadIn {
				padding-top: 4em;
				color: var(--t-bg);
				background-color: var(--t-fg);
				text-align: center;
			}

			.tagline {
				font-weight: 300;
				font-size: var(--f-u3);
				line-height: 1.5;
			}

			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
				max-width: 50em;
				margin: auto;
			}

			.wrapper {
				padding-bottom: 4em;
				margin-bottom: 4em;
			}

			footer {
				text-align: center;
				margin-top: 3rem;
			}

			.gallery {
				width: 800px;
				margin: auto;
			}

			.imgGallery {
				width: 200px;
				margin-right: 20px;
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<Nav />
		<Header img={content.img} title={content.title} />
		<div class="wrapper">
			<div class="content"><slot /></div>
			<div class="gallery">
				{content.gallery.map((img) => <img class="imgGallery" src={rootFolder + img} />)}
			</div>
		</div>
		<footer>
			<a href={rootFolder + "servizi"} class="button">Tutti i servizi</a>
		</footer>
		<Footer />
	</body>
</html>
